[Desktop Entry]
Version=1.0
Type=Application
Categories=Network;Application;
Name=Afad - wifiautoconfig
Comment=Afad wifiautoconfig
Exec=sudo /usr/bin/afad-wifiautoconfig.sh
Icon=network-workgroup
Path=
Terminal=true
StartupNotify=false